@use '../../styles/mixins';

.likesSection {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

// .defaultBox {
//   @include mixins.mq(tablet) {
//     margin-left: 30px;
//   }
// }

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-align: center;

  margin-bottom: 60px;

  // @include mixins.mq(tablet) {
  //   text-align: left;
  // }
}

.listCard {
  @include mixins.mq(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  @include mixins.mq(desktop) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
