@use '../../../styles/mixins';

.btnLight {
  width: 196px;
  height: 50px;
  background-color: var(--background-btn-main-color);
  // box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--btn-border-color);
  // border: 2px solid var(--border-color);
  color: var(--btn-text-color);
  border-radius: 10.3108px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
}

.btnDark {
  width: 196px;
  height: 50px;
  background-color: var(--background-btn-second-color);
  // box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border: solid 2px var(--btn-border-color);
  color: var(--second-text-color);
  border-radius: 10.3108px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
}

.burgerButton {
  margin-right: 10px;
  background-color: transparent;
  color: var(--icons-color);
  transition: transform var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    transform: scale(0.9);
    color: var(--hover-active-color);
  }
}

.searchBtn {
  margin-right: 20px;
  color: var(--icons-color);
  transition: color var(--transition-duration) var(--timing-function),
    transform var(--transition-duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--hover-active-color);
    transform: scale(0.8);
  }
  @include mixins.mq(tablet) {
    margin-right: 35px;
  }
}

.searchFormBtn {
  @extend .searchBtn;
  background-color: transparent;
  margin-right: 0;
}

.btnLight:hover {
  background-color: #f5f5f5;
  border-color: var(--btn-border-color);
}

.btnDark:hover {
  background-color: #f5f5f5;
  color: var(--btn-text-color);
}
