.btnLight {
  width: 196px;
  height: 50px;
  background: var(--background-btn-main-color);
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-color: var(--background-btn-main-color);
  border-radius: 10.3108px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.btnDark {
  width: 196px;
  height: 50px;
  background: var(--background-btn-second-color);
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-color: var(--background-btn-second-color);
  border-radius: 10.3108px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.burgerButton {
  margin-right: 10px;
}

.languageButton:last-child::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 0px;
  top: 7px;
  left: -30px;
  border: 2px solid var(--border-color);
  transform: rotate(90deg);
}

.btnLight:hover {
  background: #ddbffd;
}

.btnDark:hover {
  background: #53c198;
}
