@use 'styles/mixins';

.productItem {
  padding: 12px 0;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 12px;
  @include mixins.mq(tablet) {
    padding: 12px 20px;
  }
}

.infoWraper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include mixins.mq(tablet) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }
}

.mainInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.thumb {
  width: 120px;
  height: 180px;
}

.mainPhoto {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 140px;

  @include mixins.mq(tablet) {
    width: 200px;
  }

  @include mixins.mq(desktop) {
    width: 360px;
  }
}

.sizeQuantity {
  display: flex;
  gap: 12px;
}

.sizeQuantityWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.priceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  @include mixins.mq(tablet) {
    flex-direction: column;
    justify-content: center;
  }
}