@use 'styles/mixins';

.fotoContainer {
  position: relative;

  margin-bottom: 20px;

  @include mixins.mq(tablet) {
    margin-bottom: 0;
  }
}

.labelsContainer {
  position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.vipLabel {
    display: flex;
    background: #000;
    min-width: 16px;
    min-height: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    padding: 4px 12px;
}    

.vipLabel > span {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
  color: var(--accent-color);
}