@use '../../styles/_mixins.scss';

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid var(--btn-border-color);
  border-radius: 8px;
  background-color: var(--background-color);
  width: 100%;
  transition: background-color var(--transition-duration) var(--timing-function);

  @include mixins.mq(desktop) {
    width: 440px;
  }
}

.form:focus-within {
  background-color: var(--background-btn-second-color);
  border-color: var(--accent-color);
}
