@use 'styles/mixins';

.ordersWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
  @include mixins.mq(tablet) {
    flex-direction: row;
  }
}

.ordersList {
  @include mixins.mq(tablet) {
    width: 80%;
  }
  @include mixins.mq(desktop) {
  }
}

.orderItem {
  position: relative;
  // margin-bottom: 20px;
  padding: 12px;
  border: 1px solid var(--border-color);

  &:hover {
    border: 1px solid var(--btn-border-color);
  }

  @include mixins.mq(tablet) {
    padding: 12px;
  }
  @include mixins.mq(desktop) {
    padding: 20px;
  }
}

.orderInfoWrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  // margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);
}

.orderInfoItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.orderInfoItem:nth-child(2) > p {
  text-align: end;
}

.orderSum {
  font-weight: 600;
  text-align: end;
  color: var(--text-color);
  @include mixins.mq(tablet) {
    font-size: 18px;
  }
  @include mixins.mq(desktop) {
    font-size: 24px;
  }
}

.orderBottomWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
  @include mixins.mq(tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
  }
}

.waitingPhrase {
  font-weight: 600;
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
  // text-shadow: var(--hover-text-shadow);
}

.message {
  font-size: 16px;
  margin: auto;
  text-align: center;
  @include mixins.mq(tablet) {
    font-size: 20px;
  }
  @include mixins.mq(desktop) {
    font-size: 26px;
  }
}

.buttonTrashWrapper {
  position: absolute;
  top: 332px;
  right: 16px;
  @include mixins.mq(tablet) {
    top: 108px;
  }
  @include mixins.mq(desktop) {
    top: 120px;
    right: 40px;
  }
}

.messageWindow {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(100vh / 2 - 250px);
  left: calc(100vw / 2 - 300px);
  width: 600px;
  height: 500px;
  padding: 40px;
  background: var(--bg-footer-header);
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  z-index: 1200;
}

.dismissButton {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 25px;
  right: 25px;
}
