@use '../../../styles/_mixins.scss';

.catalogTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 15px;
  @include mixins.mq(mobile) {
    font-size: 20px;
  }
  @include mixins.mq(tablet) {
    margin-bottom: 20px;
    font-size: 26px;
  }
  // @include mixins.mq(desktop) {
  //   font-size: 22px;
  // }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.mainTitleBox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  @include mixins.mq(mobile) {
    margin-bottom: 10px;
  }
  @include mixins.mq(tablet) {
    margin-bottom: 15px;
  }
}

.secondaryTitleBox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  @include mixins.mq(tablet) {
    margin-bottom: 15px;
  }
}

.title {
  margin-right: 15px;
  text-align: left;
}

.secondaryTitle {
  margin-right: 10px;
  font-size: 10px;
  @include mixins.mq(mobile) {
    font-size: 18px;
  }
  @include mixins.mq(tablet) {
    font-size: 20px;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
  @include mixins.mq(mobile) {
    flex-basis: 120px;
  }
  @include mixins.mq(tablet) {
    flex-basis: 300px;
  }
}

.amountBox {
  border: 1px solid var(--border-color);
  padding: 2px;
  font-size: 10px;
  color: grey;

  @include mixins.mq(mobile) {
    font-size: 14px;
    padding: 4px;
  }
  @include mixins.mq(desktop) {
    font-size: 16px;
  }
}
