@use '../../../styles/mixins';

.dialogueList {
  padding: 10px;
  width: 100%;

  @include mixins.mq(desktop) {
    width: 45%;
  }
}

.btnSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  &::before {
    content: '';
    background: var(--title-text-color);
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all var(--transition-duration) var(--timing-function);
  }
  &:hover::before,
  &:focus::before {
    width: 100%;
  }
}

.wrapper:has(a.active) {
  position: relative;
  &::before {
    content: '';
    background: var(--title-text-color);
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    transition: all var(--transition-duration) var(--timing-function);
  }
}

.dialogueGroup {
  padding-top: 15px;
  height: 730px;
  overflow-y: auto;
  cursor: pointer;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: var(--bg-footer-header);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    width: 6px;
    border-radius: 9em;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn-border-color);
  }
}

.dialogueCardBotoom {
  margin-bottom: 30px;
  margin-right: 5px;
}

.dialogueCardBotoom:last-child {
  margin-bottom: 0px;
}

.dialogueCard {
  margin-top: 3px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 155px;
  border: 1px solid var(--border-color);
}

.dialogueName {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-left: 30px;
  padding: 3px 7px;
  background-color: var(--bg-footer-header);

  @include mixins.mq(tablet) {
    margin-left: 100px;
  }
}

.imageCard {
  width: 100px;
  height: 153px;
  background-size: cover;
  background-position: center;
}

.deleteBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 143px;
}

.message_title_box {
  display: flex;
  flex-direction: column;
}

.messageBoxTitle {
  margin-left: 10px;
  margin-top: 17px;
  width: 320px;

  @include mixins.mq(tablet) {
    margin-left: 0px;
    width: 400px;
  }

  @include mixins.mq(desktop) {
    width: 300px;
  }
}

.messageBox {
  margin-top: 15px;
  margin-left: 15px;
  width: 320px;

  @include mixins.mq(tablet) {
    margin-left: 0px;
    width: 400px;
  }

  @include mixins.mq(desktop) {
    width: 300px;
  }
}

.messageBoxText {
  min-height: 50px;
  max-height: 50px;
}

.numberNewMessage {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -145px;
  width: 30px;
  height: 30px;
  background-color: var(--bg-footer-header);
  border: 1px solid var(--border-color);
  border-radius: 50%;
}
