@use '../../styles/_mixins.scss';

.container {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.titleText {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;

  margin-bottom: 20px;
}

.listCard {
  margin-bottom: 25px;

  @include mixins.mq(tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    grid-gap: 15px;

    width: 460;
  }
  @include mixins.mq(desktop) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    grid-gap: 15px;

    width: 770;
  }
}

.itemCard {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto 20px auto;
  // margin-left: auto;
  // margin-right: auto;
}

.stylePhotoCard {
  display: flex;
  flex-wrap: wrap;
  // max-width: 100%;
  // max-height: 100%;
  // object-fit: contain;
}

.photoCard {
  // width: 220px;
  // height: 300px;
  // object-fit: cover;
  // width: 220px;
  margin-bottom: 8px;

  border-radius: 25px;
}

.stylePriceLike {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceCard {
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 500;
  color: var(--title-text-color);
}

.styleLike {
  display: flex;
  align-items: center;
}

.likeCard {
  margin-right: 5px;

  font-size: 12px;
  line-height: 16px;
  color: var(--second-text-color);
}

.descriptionCard {
  margin-bottom: 12px;

  font-size: 14px;
  text-decoration: none;
  color: var(--second-text-color);
}

.sizeCard {
  font-size: 13px;
  font-weight: 500;
  color: var(--text-color);
}

.styleTitleText {
  padding-right: 26px;
}

.link {
  color: #9b9faa;
  // background-size: 200% 100%;
  // background-position: -100%;
  // display: inline-block;
  // position: relative;
  transition: all 0.3s ease-in-out;
}
