@use '../../styles/_mixins.scss';

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.styleWrapButton {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  background-color: var(--bg-footer-header);

  @include mixins.mq(tablet) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.button {
  position: relative;

  margin-right: 25px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  color: var(--title-text-color);
  background-color: transparent;

  &::before {
    content: '';
    display: block;

    position: absolute;
    bottom: -10px;
    left: 0;

    width: 0;
    height: 1px;

    background-color: var(--title-text-color);
    transition: all var(--transition-duration) var(--timing-function);
  }
  &:hover::before,
  &:focus::before {
    width: 100%;
  }

  @include mixins.mq(tablet) {
    font-size: 24px;
  }
}

.button:last-child {
  margin-right: 0px;
}

.active {
  position: relative;

  text-shadow: var(--hover-text-shadow);
  color: var(--hover-active-color);
}

@media (max-width: 374px) {
  .buttonAdvice {
    margin-top: 20px;
  }

  .button:not(:first-child) {
    margin-right: 20px;
  }
}
