@use 'styles/mixins';

.btn {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 165px;
  height: 48px;
  font-weight: 400;
  color: var(--second-text-color);
  border: 1px solid var(--border-color);
  background-color: var(--main-color) !important;

  @include mixins.mq(tablet) {
    width: 117px;
  }
  @include mixins.mq(desktop) {
    width: 237px;
  }
}

.selectedDay {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--icons-color);
  background-color: var(--background-btn-main-color);
  border: 1px solid var(--border-color);
}

.day {
  font-family: 'Montserrat', sans-serif;
  color: var(--icons-color);
  border: 1px solid var(--border-color);
}
