@use '../../../styles/mixins';

.container {
  padding: 20px 0;
  margin: 0 auto;
}

.titleText {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;

  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 15px;
  margin-bottom: 15px;

  color: var(--second-text-color);

  border-top: 3px solid var(--accent-color);
  border-bottom: 3px solid var(--accent-color);

  @include mixins.mq(tablet) {
    font-size: 24px;
  }
}

.styleTitleText {
  margin-right: 26px;
}

.styleTitleText:last-child {
  margin-right: 0px;
}

.styleButtonList {
  position: relative;
}

.arrowButton {
  display: none;

  @include mixins.mq(tablet) {
    display: block;
    color: var(--text-color);

    transition: all 0.3s ease-in-out;

    &:hover svg {
      color: var(--accent-color);
    }
  }
}

.arrowButtonLeft {
  position: absolute;
  top: 27%;
  left: 0;

  z-index: 10;
}

.arrowButtonRight {
  position: absolute;
  top: 27%;
  right: 0;

  z-index: 10;
}

.listCard {
  @include mixins.mq(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  @include mixins.mq(desktop) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    // width: calc(100% / 5 - 30px);
  }
}

.itemCard {
  // position: relative;

  display: flex;
  flex-direction: column;

  padding: 4px;
  margin-bottom: 25px;

  row-gap: 15px;

  @include mixins.mq(tablet) {
    margin-bottom: 0;
  }
}

.photoLink {
  display: flex;
  flex-direction: column;
}

.stylePhotoCardWrap {
  position: relative;
  overflow: hidden;

  height: 300px;
}

.photoCard {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 25px;
}

.descriptionProductCard {
  // white-space: nowrap;
  text-overflow: ellipsis;
  // overflow: hidden;

  display: flex;
  // align-items: center;

  position: absolute;
  top: 0;
  padding: 12px;
  height: 100%;

  font-size: 22px;
  line-height: 26px;
  text-decoration: none;

  border-radius: 25px;
  background-color: var(--accent-color);
  opacity: 0.8;
  color: var(--title-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transform: translateX(-101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .photoLink:hover &,
  .photoLink:focus & {
    transform: translateX(0%);
  }
}

.stylePriceLike {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceCard {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;

  color: var(--title-text-color);
}

.styleLike {
  display: flex;
  align-items: center;
}

.likeCard {
  margin-right: 5px;

  font-size: 12px;
  line-height: 16px;

  color: var(--second-text-color);
}

.nameProductCard {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;

  color: var(--second-text-color);
}

.sizeCard {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;

  color: var(--text-color);
}

.link {
  color: var(--second-text-color);

  transition: all 0.3s ease-in-out;
  &:hover svg {
    fill: var(--accent-color);
    stroke: var(--icons-color);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 25px;
}

.paginationButton {
  margin-right: 25px;
  padding: 8px;

  border-radius: 25%;
  background-color: var(--accent-color);
  width: 25px;
  height: 40px;
}

.paginationButton:last-child {
  margin-right: 0;

 
}
