@use '../../styles/_mixins.scss';
.container {
  flex-grow: 1;
}

.listCard {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
  margin-bottom: 15px;

  @include mixins.mq(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  @include mixins.mq(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filterContent {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  margin-bottom: 10px;
  min-width: 100px;
  min-height: 38px;
  cursor: pointer;
  background-color: var(--border-color);
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: box-shadow var(--transition-duration) var(--timing-function),
    border var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
  &:not(:last-of-type) {
    margin-right: 15px;
  }
  &:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    border: solid 1px var(--btn-border-color);
    box-shadow: var(--hover-box-shadow);
  }
  @include mixins.mq(mobile) {
    padding: 8px 14px;
    font-size: 14px;
  }
  @include mixins.mq(tablet) {
    padding: 8px 14px;
    &:not(:last-of-type) {
      margin-right: 15px;
      margin-bottom: 0;
    }
  }
  @include mixins.mq(desktop) {
    padding: 10px 16px;
    font-size: 16px;
  }
}

.bottomOptionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  @include mixins.mq(tablet) {
    flex-direction: row;
    margin-bottom: 10px;
  }
}

.selectWrapper {
  text-align: left;
  @include mixins.mq(tablet) {
    text-align: right;
  }
}

.btnLightSubscribe {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 50px;
  // width: 158px;
  // height: 40px;
  background-color: var(--background-btn-main-color);
  border: 1px solid var(--btn-border-color);
  color: var(--btn-text-color);
  // color: #000;
  border-radius: 10.3108px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);
  &:hover {
    background-color: var(--background-btn-second-color);
    box-shadow: var(--hover-box-shadow);
    color: var(--hover-btn-text);
  }
  margin-bottom: 10px;
  @include mixins.mq(mobile) {
    margin-right: 15px;
  }

  @include mixins.mq(tablet) {
    width: 196px;
    height: 50px;
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 0;
  }
  @include mixins.mq(desktop) {
    font-size: 18px;
  }
}

.btnDark {
  @extend .btnLightSubscribe;
  background-color: var(--background-btn-second-color);
  color: var(--second-text-color);
  transition: box-shadow var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
  &:hover {
    background-color: #f5f5f5;
    box-shadow: var(--hover-box-shadow);
    color: var(--btn-text-color);
  }
}

.topBtnBox {
  display: flex;
  flex-direction: column;
  @include mixins.mq(mobile) {
    flex-direction: row;
    align-items: center;
  }
}
