@use '../../styles/mixins';

.dialogueContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
  width: 100%;
}

.additionalOpts {
  display: flex;
  gap: 10px;
}

.avatar {
  margin-top: 12px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.textInputArea {
  padding-right: 10px;
  padding-left: 10px;
}

.dialogueGroup {
  margin-top: 20px;
  margin-right: 5px;
  max-height: 410px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: var(--bg-footer-header);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    width: 6px;
    border-radius: 9em;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn-border-color);
  }
}

.dialogueGroupCustomer {
  margin-top: 20px;
  margin-right: 5px;
  max-height: 205px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: var(--bg-footer-header);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    width: 6px;
    border-radius: 9em;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn-border-color);
  }
}

.dialogueBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.dialogueMessage {
  margin-right: 5px;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
}

.dialogueMessageRight {
  margin-left: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
}

.textDate {
  margin-top: 5px;
  margin-bottom: -5px;
  display: flex;
  justify-content: flex-end;
}

.textarea {
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  border: 1px solid var(--border-color);
  outline: none;
  font-weight: 200;
  font-size: 14px;
  color: var(--text-color);
}

.questionButton {
  margin-top: 20px;
  // margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
