@use '../../styles/mixins';

.profileavatar {
  background-color: var(--bg-footer-header);
  // padding-top: 165px;  //Юля закоментувала, бо виправила хеддер
  padding-bottom: 16px;
}

.profiledetails {
  @include mixins.mq(tablet) {
    height: 100vh;
  }

  @include mixins.mq(desktop) {
    height: auto;
  }
}
