@use '../../../styles/mixins';

.windowBackdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(5, 5, 5, 0.038);
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.closeButton {
  position: absolute;
  color: var(--text-color);
  outline: 0;
  width: 32px;
  height: 32px;
  right: 12px;
  top: 12px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  align-items: center;

  @include mixins.mq(tablet) {
    width: 40px;
    height: 40px;
    right: 12px;
    top: 12px;
    font-size: 32px;
  }
  @include mixins.mq(desktop) {
    width: 44px;
    height: 44px;
    right: 12px;
    top: 12px;
  }
}

.feedbackForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    @include mixins.mq(tablet) {
    margin-bottom: 24px;
  }
}

.windowContainer {
  position: relative;
  max-height: 88vh;
  width: 100%;
  padding: 44px 16px;
  background-color: var(--main-color);
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  overflow: auto;
  border-radius: 30px;
  @include mixins.mq(tablet) {
    padding: 44px 60px;
    max-width: 80vw;
  }
  @include mixins.mq(desktop) {
    padding: 44px 72px;
    max-height: 96vh;
    max-width: 48vw;
  }
}

.heading {
    font-size: 20px;
    margin-bottom: 24px;
    align-self: flex-start;
    font-weight: 600;
    @include mixins.mq(tablet) {
        font-size: 24px;
        margin-bottom: 44px;
    }
}

.starsBox {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    align-self: flex-start;
    padding-left: 8px;
    @include mixins.mq(tablet) {
        margin-bottom: 24px;
    }
}

.ratingNumber {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    @include mixins.mq(tablet) {
        font-size: 32px;
    }
}

.feedbackTitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    align-self: flex-start;
    @include mixins.mq(tablet) {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

.textarea {
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid var(--border-color);
    resize: none;
    outline: none;
    width: 100%;
    color: var(--text-color);
    background-color: transparent;
    &:focus-visible {
        border: 1px solid var(--text-selector-option-focused);
    }
    @include mixins.mq(tablet) {
        margin-bottom: 24px;
    }
}