@use '../../../styles/mixins';

.optionsTitle {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: var(--title-text-color);
  @include mixins.mq(mobile) {
    font-size: 16px;
  }
  @include mixins.mq(tablet) {
    font-size: 18px;
  }
}

.optionsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.operationIcon {
  transition: transform var(--transition-duration) var(--timing-function);
  color: var(--icons-color);
  &.active {
    transform: rotate(180deg);
  }
}
