@use '../../../styles/mixins';

.textError {
  text-align: center;
  margin-top: 20px;
  color: var(--text-color);
}

.textMessage {
  text-align: center;
  margin-top: 20px;
  color: var(--text-color);
}

.title {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 20px;
  margin-top: 20px;
  @include mixins.mq(tablet) {
    font-size: 24px;
  }
}

.titleGroupItems {
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

.after-title {
  font-weight: 200;
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 5px;
}

.after-title-message {
  font-weight: 200;
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
}

.after-title-message-title {
  font-weight: bold;
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
}

.after-title-bottom {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--second-text-color);
}

.after-title-text-warning {
  margin-top: 140px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--second-text-color);
}

.after-title-before {
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: 200;
  font-size: 14px;
  color: var(--text-color);
}

.after-title-bigger {
  font-weight: 200;
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 5px;
  text-align: center;
}

.after-title-cardContent {
  margin-top: 130px;
  margin-bottom: 60px;
  font-weight: 200;
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
}

.google-text {
  font-weight: 200;
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 12px;
}

.text {
  font-size: 12px;
}

.lable-form {
  font-size: 16px;
  color: var(--text-color);
}

.second-text {
  font-size: 12px;
  color: var(--empty-color);
}

.verifyTextTitle {
  font-size: 26px;
  font-weight: 500;
}

.verifyTextmiddle {
  font-size: 20px;
  font-weight: 500;
}

.verifyTextSmall {
  font-size: 14px;
}

.verifyAttention {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}

.sizeGroupTextContent {
  font-size: 10px;
  text-align: center;
  @include mixins.mq(mobile) {
    font-size: 12px;
  }
  @include mixins.mq(desktop) {
    font-size: 14px;
  }
}

.sizeGroupMainTextContent {
  font-size: 12px;
  text-align: center;
  @include mixins.mq(mobile) {
    font-size: 14px;
  }

  @include mixins.mq(desktop) {
    font-size: 18px;
  }
}

.productName {
  font-size: 24px;
  font-weight: 600;
  color: var(--title-text-color);
  margin-bottom: 20px;
  margin-top: 20px;
  @include mixins.mq(tablet) {
    font-size: 28px;
  }
}

.productLabels {
  font-weight: 600;
  font-size: 14px;
  color: var(--second-text-color);
  margin-bottom: 5px;
}

.productHeadings {
  font-size: 16px;
  color: var(--second-text-color);
  font-weight: 600;
  margin-bottom: 12px;
}

.productText {
  font-weight: 200;
  font-size: 14px;
  color: var(--text-color);
}

.productTextDilogue {
  font-weight: 200;
  font-size: 14px;
  color: var(--text-color);
}

.productTextDialogueNewMessage {
  font-weight: 600;
  font-size: 14px;
  color: var(--second-text-color);
}

.productTextDate {
  font-size: 12px;
  color: var(--text-color);
  text-align: end;
  margin-top: 10px;
}

.catalogTitle {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
  margin-bottom: 20px;

  color: var(--title-text-color);
  background-color: var(--bg-footer-header);

  // border-top: 3px solid var(--accent-color);
  // border-bottom: 3px solid var(--accent-color);

  @include mixins.mq(tablet) {
    font-size: 24px;
  }
}

.textMessageBtn {
  text-align: center;
  color: var(--text-color);
}

.searchQueryContent {
  margin-right: 8px;
}

.errorMessageHeaderForm {
  position: absolute;
  bottom: -15px;
  left: 5px;
  color: red;
  font-size: 11px;
  @include mixins.mq(mobile) {
    font-size: 14px;
    bottom: -20px;
  }
}

.errorMessageFilter {
  color: red;
  font-size: 11px;
  @include mixins.mq(mobile) {
    font-size: 14px;
  }
}

.titleGroupItems-filter {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 5px;
  text-align: center;
  @include mixins.mq(tablet) {
    font-size: 18px;
  }
}

.after-title-filter {
  font-weight: 200;
  color: var(--text-color);
  margin-bottom: 5px;
}

.after-title-before-filter {
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: 200;
  color: var(--text-color);
}

.after-title-bigger-filter {
  font-weight: 200;
  color: var(--text-color);
  text-align: center;
  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

.messageTextBtn {
  margin-top: 20px;
  text-align: center;
  width: 400px;
  font-weight: 200;
  font-size: 14px;
  color: var(--text-color);
}

.nameProductCard {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-align: left !important;

  color: var(--second-text-color);
}
