@use '../../../styles/mixins';

.dialogueDetail {
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @include mixins.mq(desktop) {
    padding-left: 20px;
  }
}

.groupProductDialogue {
  width: 100%;
}

.dialogueBox {
  width: 100%;
}

.productBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);

  @include mixins.mq(tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @include mixins.mq(desktop) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.imageCard {
  width: 100px;
  height: 143px;
  background-size: cover;
  background-position: center;
}

.productInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 7px;

  @include mixins.mq(tablet) {
    padding-bottom: 20px;
  }
}

.messageBoxTitle {
  margin-bottom: 17px;
  width: 300px;
}

.productNavigate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include mixins.mq(desktop) {
    justify-content: center;
  }
}
