@use '../../styles/mixins';

.productCard {
  padding-top: 30px;
}

.navigation {
  margin-bottom: 24px;
  & > a {
    color: var(--title-text-color);
    font-size: 16px;
  }
}

.productCardWrapper {
  @include mixins.mq(desktop) {
    display: flex;
  }
}

.fotoGalery {
  background-color: grey;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.productMainInfo {
  @include mixins.mq(tablet) {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
  }
}

.productPrice > p {
  font-weight: 600;
}

.sellerInfo {
  padding: 16px 0;
}

.liked {
  stroke: var(--icons-color);
  transition: all 0.3s ease-in-out;
}

.active {
  fill: var(--accent-color);
}

.messageWarningBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.messageWarningText {
  margin-bottom: 20px;
}

.dialogueBox {
  @include mixins.mq(desktop) {
    width: 58%;
  }
}
