.custom-select__control {
  // border-radius: 8px !important;
  border: 1px solid var(--btn-border-color) !important;
  outline: none !important;
  box-shadow: var(--hover-box-shadow) !important;
}
.custom-select__control.custom-select__control--menu-is-open {
  border-color: var(--accent-color) !important;
  outline: none !important;
}
.custom-select__control.custom-select__control--is-focused {
  border-color: var(--accent-color) !important;
  outline: none !important;
}
.custom-select__control:hover {
  border-color: var(--accent-color) !important;
}
.custom-select__indicator {
  color: var(--icons-color) !important;
  transition: transform var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function) !important;
}

.custom-select__control.custom-select__control--is-focused
  .custom-select__indicator {
  color: var(--accent-color) !important;
}

.custom-select__control:hover .custom-select__indicator {
  color: var(--accent-color) !important;
}

.custom-select__control.custom-select__control--menu-is-open
  .custom-select__indicator {
  transform: rotate(180deg);
}

.custom-select__value-container {
  padding: 10px 0 10px 10px !important;
}

.custom-select__single-value {
  padding: 0 !important;
  margin: 0 !important;
}
.custom-select__input-container {
  padding: 0 !important;
  margin: 0 !important;
}

.custom-select__menu {
  margin-top: 8px !important;
  // border-radius: 8px !important;
  overflow: hidden !important;
}

.custom-select__menu-list {
  padding: 0 16px 16px 16px !important;
  color: var(--icons-color) !important;
}

.custom-select__menu-list .custom-select__option--is-selected {
  background-color: transparent !important;
  color: var(--text-color) !important;
  text-shadow: var(--hover-text-shadow) !important;
  border-color: var(--accent-color) !important;
}

.custom-select__menu-list .custom-select__option--is-focused {
  background-color: transparent !important;
  text-shadow: var(--hover-text-shadow) !important;
}

.custom-select__option {
  padding: 16px 0 16px 0 !important;
  border-bottom: 1px solid var(--btn-border-color) !important;
}

.custom-select__indicator-separator {
  display: none;
}
