.navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
}

.rightvalue {
    margin-left: 4px;
}