@use 'styles/mixins';

.basketsSection {
  // padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.orderList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.orderItem{
  display: flex;
  flex-direction: column;
  gap: 16px;
}