@use 'styles/mixins';

.ordersWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
  @include mixins.mq(tablet) {
    flex-direction: row;
  }
}

.ordersList {
  @include mixins.mq(tablet) {
    width: 80%;
  }
}

.orderItem {
  position: relative;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid var(--border-color);

  &:hover {
    border: 1px solid var(--btn-border-color);
  }

  @include mixins.mq(tablet) {
    padding: 12px;
  }
  @include mixins.mq(desktop) {
    padding: 20px;
  }
}

.orderInfoWrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  // margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);
}

.orderInfoItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.orderInfoItem:nth-child(2) > p {
  text-align: end;
}

.orderSum {
  font-weight: 600;
  text-align: end;
  color: var(--text-color);
  @include mixins.mq(tablet) {
    font-size: 18px;
  }
  @include mixins.mq(desktop) {
    font-size: 24px;
  }
}

.orderBottomWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 12px;
  margin-bottom: 16px;
  @include mixins.mq(tablet) {
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
  }
}

.waitingPhrase {
  font-weight: 600;
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
}

.btnLight {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 50px;
  background-color: var(--background-btn-main-color);
  border: 1px solid var(--btn-border-color);
  color: #000;
  border-radius: 10.3108px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);
  &:hover {
    background-color: var(--background-btn-second-color);
    border-color: var(--btn-border-color);
    box-shadow: var(--hover-box-shadow);
    color: var(--btn-text-color);
  }
  @include mixins.mq(mobile-only) {
    margin-bottom: 16px;
  }
  @include mixins.mq(tablet) {
    margin-right: 16px;
  }
}

.message {
  font-size: 16px;
  margin: auto;
  text-align: center;
  @include mixins.mq(tablet) {
    font-size: 20px;
  }
  @include mixins.mq(desktop) {
    font-size: 26px;
  }
}

.buttonBottomWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @include mixins.mq(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.buttonTrashWrapper {
  position: absolute;
  top: 298px;
  right: 16px;
  @include mixins.mq(tablet) {
    top: 80px;
  }
  @include mixins.mq(desktop) {
    top: 92px;
    right: 40px;
  }
}

.messageWindow {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  height: 510px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--main-color);
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  z-index: 1200;
  @include mixins.mq(tablet) {
    padding: 40px;
    width: 600px;
    height: 500px;
    padding: 40px;
  }
}

.dismissButton {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 25px;
  right: 25px;
}
