@use '../../styles/mixins';

.title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  @include mixins.mq(tablet) {
    font-size: 20px;
  }
}
.sizeGroupList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  @include mixins.mq(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sizeGroupItem {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--btn-border-color);
  @include mixins.mq(mobile) {
    padding: 3px;
  }
  @include mixins.mq(tablet) {
    padding: 5px;
  }
}

.optionsWrapper {
  width: 30%;
  @include mixins.mq(tablet) {
    width: 25%;
  }
}

.radioBox {
  display: flex;
  flex-direction: column;
}

.labelRadio:not(:last-of-type) {
  margin-bottom: 10px;
}

.filterInputBox {
  display: flex;
  border: 1px solid var(--btn-border-color);
}
