@use '../../styles/mixins';

.default {
  padding-top: 10px;
  width: 100%;
  height: 510px;
}

.defaultBox {
  @include mixins.mq(tablet) {
    margin-left: 30px;
  }
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 60px;

  @include mixins.mq(tablet) {
    text-align: left;
  }
}