@use '../../styles/mixins';

.default {
  padding-top: 20px;
  width: 100%;
}

.defaultBox {
  @include mixins.mq(tablet) {
    padding: 10px 30px;
  }
}

.formWrapper {
  @include mixins.mq(desktop) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
  }
}

.orderInfo {
  @include mixins.mq(desktop) {
    width: 60%;
  }
}

.orderInfo > ul {
  margin-bottom: 16px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 28px;

  @include mixins.mq(tablet) {
    line-height: 13px;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
  }
  @include mixins.mq(desktop) {
    font-size: 24px;
    margin-bottom: 44px;
  }
}

.formField {
  position: relative;
  @include mixins.mq(tablet) {
    width: 70%;
  }
  
}

.inputError {
  color: red;
  position: absolute;
  top: 72px;
}

.sumWrapper {
  display: flex;
  flex-direction: column;
  padding: 28px 20px;
  border: 1px solid var(--empty-color);
  border-radius: 0px;
  margin-bottom: 16px;
  @include mixins.mq(tablet) {
    width: 70%;
  }
  @include mixins.mq(desktop) {
    width: 30%;
    height: auto;
  }
}

.sumTitle {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 16px;

  @include mixins.mq(tablet) {
    font-size: 20px;
    margin-bottom: 24px;
  }
  @include mixins.mq(desktop) {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.sumBox {
  display: flex;
  justify-content: space-between;
    align-items: center;
}

.sumWrapper > button {
  align-self: center;
  margin-top: 16px;
}