.customSelectTop {
  border-radius: 20px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  width: 150px;
  color: var(--accent-color);
}

.customSelectBottom {
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: var(--accent-color);
}
