@use '../../../styles/mixins';
.photoAvatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;

    @include mixins.mq(tablet) {
        width: 144px;
        height: 144px;
    }
}

.photo {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}