@use '../../styles/mixins';

.languagesList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageItem {
  color: #9b9faa;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.active {
  color: #212121;
}

.userInfoSide {
  display: flex;
  flex-direction: row;
  // margin-top: 7px;

  @include mixins.mq(desktop) {
    margin-left: 860px;
  }
}

.userInfoSide a:last-child {
  margin-left: 32px;
  position: relative;
}

.userInfoSide a:last-child::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 0px;
  top: 7px;
  left: -30px;
  border: 2px solid var(--border-color);
  transform: rotate(90deg);
}

.userInfoSide p:last-child {
  color: var(--second-text-color);
  margin-left: 32px;
  position: relative;
}

.userInfoSide p:before {
  content: '';
  position: absolute;
  width: 32px;
  height: 0px;
  top: 17px;
  left: -30px;
  border: 2px solid var(--border-color);
  transform: rotate(90deg);
  @include mixins.mq(tablet) {
    top: 7px;
  }
  @include mixins.mq(desktop) {
    top: 7px;
  }
}

.userInfoSide p {
  cursor: pointer;
}

.link:before {
  content: '';
  background: #9b9faa;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-position: 0;
}

.link:hover::before {
  width: 100%;
}

.goodsNumber {
  margin-right: 15px;
  margin-left: 10px;
}

.custom {
  display: flex;
  flex-direction: row;
}
