@use '../../styles/_mixins.scss';
.menuContainer {
  min-width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0x;
  border-bottom: 1px solid var(--second-text-color);
  transition: background-color var(--transition-duration) var(--timing-function);
  &:hover {
    background-color: var(--bg-footer-header);
    cursor: pointer;
  }
}
.logo {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
  text-shadow: var(--hover-text-shadow);
  letter-spacing: -3px;
  font-weight: 500;

  @include mixins.mq(tablet) {
    font-size: 34px;
  }
}
.modalTopContainer {
  display: flex;
  align-items: flex-end;
  padding: 25px;
  border-bottom: 2px solid var(--text-color);
}
.ModalBackdrop {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.ModalCatalog {
  position: absolute;
  background-color: var(--main-color);
  width: 288px;
  height: 100%;
}

.dropdownMenu {
  position: absolute;

  width: 100%;

  // background-color: var(--main-color);
}
// .menuContainer
.containerSubMenu {
  // padding-top: 5px;
  // border: red solid 0.5px;

  // margin-left: 15px;
  // position: absolute;
  top: 0;
  min-height: 100%;
  // width: 205px;
  background-color: var(--main-color);
  transition: background-clip var(--transition-duration) var(--timing-function),
    background-repeat var(--transition-duration) var(--timing-function),
    background-size var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
  :hover {
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    // color: var(--icons-color);
    background: var(--bg-footer-header);
  }
}

.item {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--second-text-color);
}
.span {
  padding-left: 10px;
  color: var(--second-text-color);
}
.menuContainer {
  padding: 10px;
}
