@use '../../styles/_mixins.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-footer-header);
  z-index: 999;
}

.containerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.containerBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.wrap {
  margin-right: 5px;

  @include mixins.mq(tablet) {
    margin-right: 10px;
  }

  @include mixins.mq(tablet) {
    margin-left: 30px;
  }
}

.header a {
  font-family: 'Montserrat';
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;

  @include mixins.mq(tablet) {
    font-size: 15px;
  }

  @include mixins.mq(desktop) {
    height: auto;
    font-size: 16px;
  }
}

.link {
  color: var(--second-text-color);
  display: inline-block;
  position: relative;
  transition: all var(--transition-duration) var(--timing-function);
  margin-right: 15px;
}

.active {
  color: var(--hover-active-color);
  display: inline-block;
  position: relative;
  transition: all var(--transition-duration) var(--timing-function);
  margin-right: 15px;
}

.link.active:before {
  width: 100%;
}

.link:before {
  content: '';
  background: var(--btn-border-color);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all var(--transition-duration) var(--timing-function);
}

.link:hover {
  background-position: 0;
  color: var(--hover-active-color);
}

.link:hover::before {
  width: 100%;
}

.navTopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchBtnBox {
  text-align: center;
}

.btnWrapper {
  display: flex;
}
