@use '../../styles/_mixins.scss';

.header {
  width: 100%;
  background-color: var(--bg-footer-header);
  z-index: 999;
}

.containerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.containerBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.wrap {
  margin-right: 5px;

  @include mixins.mq(tablet) {
    margin-right: 10px;
  }

  @include mixins.mq(tablet) {
    margin-left: 30px;
  }
}

.link {
  color: var(--second-text-color);
  display: inline-block;
  position: relative;
  transition: all var(--transition-duration) var(--timing-function);
  &:not(:last-of-type) {
    margin-right: 15px;
  }
}

.active,
.link:hover,
.link:focus {
  text-shadow: var(--hover-text-shadow);
  color: var(--hover-active-color);
}

.link {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
  &::before {
    content: '';
    background: var(--title-text-color);
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
  }
}

.link:hover::before {
  width: 100%;
}

.active {
  &::before {
    width: 100%;
  }
}

.navTopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchMainBox {
  display: flex;
}
.switchBtnBox {
  text-align: center;
}

.btnWrapper {
  display: flex;
}

.navigationMenuWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnLight {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 50px;
  background-color: var(--background-btn-main-color);
  // box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--btn-border-color);
  // border: 2px solid var(--border-color);
  color: var(--btn-text-color);
  border-radius: 10.3108px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
  &:hover {
    background-color: #f5f5f5;
    border-color: var(--btn-border-color);
  }
}
.activeBtn {
  @extend .btnLight;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  opacity: 0.6;
}
