@use '../../../styles/mixins';

.groupListHovering {
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  //   margin-bottom: 16px;
  
  padding: 8px;
  // background-color: pink;
}

// .sizeHovering {
//   //   display: inline-block;
//   //   border: 1px solid var(--border-color);
//   //   border-radius: 5px;
//   padding-top: 15px;
//   background-color: blue;

//   //   margin-bottom: 16px;

//   @include mixins.mq(desktop) {
//     // margin-right: 20px;
//   }
// }
