.changePhotoWrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.avatarframe {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;

}

.changePhoto {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}