.changePhotoWrapper {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.avatarframe {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--icons-color);
}

.changePhoto {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  color: var(--text-color);
}
