@use '../../../styles/mixins';

.paginationSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.pagesSet {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pageBox {
  width: 20px;
  height: 25px;
  border: 1px solid var(--icons-color);
  background-color: var(--bg-footer-header);
  margin-right: 7px;
  cursor: pointer;
  &:hover {
    background-color: var(--background-btn-second-color);
    border-color: var(--btn-border-color);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }
}

.pageBox:last-child {
  margin-right: 0px;
}

.active {
  width: 20px;
  height: 25px;
  margin-right: 7px;
  border: 1px solid var(--background-btn-main-color);
  background-color: var(--background-btn-main-color);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.active:last-child {
  margin-right: 0px;
}

.btnLeft {
  margin-right: 10px;
}
.btnRight {
  margin-left: 10px;
}
