@use '../../../styles/mixins';

.label {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  height: 48px;
}
.select {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
  height: 48px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--second-text-color);
  box-shadow: none;
  border-radius: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @include mixins.mq(tablet) {
    width: 240px;
  }
}

.headerLabel {
  @extend .label;
  margin-bottom: 0;
}

.headerSelect {
  @extend .select;
  margin-bottom: 0;
  @include mixins.mq(desktop) {
    width: 180px;
  }
}

.label.addProduct {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  height: 48px;
  @include mixins.mq(desktop) {
    margin-bottom: 20px;
  }
}

.select.addProduct {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-bottom: 0px;
  width: 100%;
  height: 48px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--second-text-color);
  box-shadow: none;
  border-radius: 0;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @include mixins.mq(tablet) {
    margin-bottom: 20px;
  }
}

.label.vip {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  height: 48px;
}

.select.vip {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-bottom: 20px;
  width: 50%;
  height: 48px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--second-text-color);
  box-shadow: none;
  border-radius: 0;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @include mixins.mq(tablet) {
    width: 30%;
  }
  @include mixins.mq(desktop) {
    width: 20%;
  }
}
