@use '../../styles/_mixins.scss';

.footer {
  width: 100%;
  background-color: var(--bg-footer-header);
  padding-bottom: 60px;
  @include mixins.mq(desktop) {
    padding-bottom: 0;
  }
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include mixins.mq(desktop) {
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
    align-items: start;
  }
}

.mainFooterContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  @include mixins.mq(desktop) {
    margin-bottom: 0;
    align-items: start;
  }
}

.copyrightBlock {
  display: flex;
  margin-bottom: 20px;
}

.copyrightLink {
  transition: all var(--transition-duration) var(--timing-function);
  &:hover,
  &:focus {
    text-shadow: var(--hover-text-shadow);
    color: var(--hover-active-color);
  }
}

.footerMainText {
  position: relative;
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.2;
}

h3.footerMainText {
  display: inline-block;
  border-bottom: 1px solid var(--btn-border-color);
}

.footerBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--border-color);
  border-radius: 8px;
  border: 0;
  padding: 10px 18px 10px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: border var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
  width: 160px;
  height: 40px;
  &:not(:last-of-type) {
    margin-right: 15px;
  }
  &:hover,
  &:focus {
    background-color: var(--main-color);
    color: var(--text-color);
    border: solid 1px var(--btn-border-color);
  }
}

.footerBtnText {
  font-size: 10px;
  margin-left: 10px;
  line-height: 1.2;
}

.footerBtnAccentText {
  font-size: 12px;
  font-weight: 700;
}

.addressFooterContent {
  margin-bottom: 20px;
  @include mixins.mq(desktop) {
    display: flex;
    margin-bottom: 0;
  }
}

.iframe {
  margin-bottom: 20px;
  @include mixins.mq(desktop) {
    margin-bottom: 0;
  }
}

.footerItemText {
  @extend .footerMainText;
  transition: all var(--transition-duration) var(--timing-function);
  &:hover,
  &:focus {
    text-shadow: var(--hover-text-shadow);
    color: var(--hover-active-color);
  }
}

.footerSocialList {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  @include mixins.mq(desktop) {
    justify-content: start;
  }
}

.footerSocialItem:not(:last-of-type) {
  @include mixins.mq(desktop) {
    margin-right: 10px;
  }
}

.footerSocialIcon {
  transition: all var(--transition-duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footerLink {
  font-size: 14px;
  line-height: 1.2;
  margin-right: 5px;
  transition: all var(--transition-duration) var(--timing-function);
  &:hover,
  &:focus {
    text-shadow: var(--hover-text-shadow);
    color: var(--hover-active-color);
  }
}

.footerContentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mixins.mq(desktop) {
    align-items: start;
  }
}

@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}

.footerAccentLink {
  font-size: 14px;
  line-height: 1.2;
  text-shadow: 0.5 -0.5px var(--accent-color);
  animation: pulsate 2s linear infinite;
}
