@use '../../styles/_mixins.scss';

.navigationBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-footer-header);
  // border: 1px solid var(--border-color);
}

.containerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.circleBox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  transition: transform var(--transition-duration) var(--timing-function);
  @include mixins.mq(tablet) {
    width: 60px;
    height: 60px;
  }
}

.navIcon {
  color: var(--icons-color);
  transition: color var(--transition-duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--border-color);
  }
}

.circleBox:has(.navIcon:hover),
.circleBox:has(.navIcon:focus) {
  transform: scale(0.93);
}
