@use 'styles/mixins';

.menuGroupList {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.menuGroupList li:nth-child(4n) {
  margin-right: 0;
}

.size {
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 8px;
}

.menuGroupItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  border-radius: 5px;
  width: 210px;
  transition: box-shadow var(--transition-duration) var(--timing-function);
}

.menuGroupItems:hover {
  // background-color: var(--hover-selected_btn-color);
  box-shadow: var(--hover-box-shadow);
  cursor: pointer;
}

.menuGroupItemsSelected {
  background-color: var(--background-btn-main-color);
  border-radius: 5px;
  overflow: hidden;
  p {
    color: var(--btn-text-color);
  }
}
