@use '../../styles/mixins';

.section {
  // margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--main-color);
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 60px;

  @include mixins.mq(tablet) {
    text-align: left;
  }
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.textarea {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: var(--second-text-color);
  border: 1px solid var(--border-color);
}

.textarea:focus {
  outline: none;
  border: 1px solid var(--icons-color);
  background: transparent;
}

.textarea::placeholder {
  font-size: 17px;
  color: var(--second-text-color);
}

.blockOne {
  display: flex;
  flex-direction: column;
  @include mixins.mq(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.partBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  @include mixins.mq(tablet) {
    width: 49%;
  }
}

.partBoxOneGroup {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.partBoxOneAfter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
