@use '../../styles/mixins';

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 240px;
  @include mixins.mq(tablet) {
    width: 320px;
  }
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  & button:first-child {
    margin-bottom: 20px;
  }

  @include mixins.mq(tablet) {
    display: block;
    margin: auto;
    margin-top: 20px;
    & button:first-child {
      margin-right: 32px;
    }
  }
}

.imgDesktop {
  display: none;

  @include mixins.mq(desktop) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1280px;
    z-index: -1;
  }
}