@use '../../styles/_mixins.scss';
.container {
  padding: 20px 0px;
  // margin: 0 auto;
}

.listCard {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;

  @include mixins.mq(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}
