@use '../../styles/_mixins.scss';
.container {
  padding: 20px 0px;
  flex-grow: 1;
}

.listCard {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;

  @include mixins.mq(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  @include mixins.mq(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.linkBox {
  margin-bottom: 15px;
}

.amountBox {
  border: 1px solid var(--border-color);
  padding: 2px;
}

.link {
  display: inline-block;
  position: relative;
  color: var(--second-text-color);
  line-height: 1.8;
  transition: all var(--transition-duration) var(--timing-function);
  &:not(:last-of-type) {
    margin-right: 15px;
  }

  &:hover {
    text-shadow: var(--hover-text-shadow);
    color: var(--hover-active-color);
  }
}

.active {
  @extend .link;
  text-shadow: var(--hover-text-shadow);
  color: var(--hover-active-color);
}
