@use '../../styles/mixins';

.default {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 800px;
  @include mixins.mq(tablet) {
    // flex-direction: row;
    // height: 625px;
  }
  @include mixins.mq(desktop) {
    // height: 800px;
  }
}

.defaultTitle {
 
  // display: flex;
  // justify-content: center;
  width: 100%;
}
