@use '../../../styles/mixins';

.profilewrapper {
  display: flex;
  justify-content: space-between;

  @include mixins.mq(tablet) {
    gap: 16px;
    justify-content: flex-start;
  }
}

.avatarframe {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--icons-color);
}

.userframe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profilebox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.username {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.ratingbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconlist {
  display: flex;
  gap: 2px;
}

.iconEmpty {
  fill: var(--empty-color);
}

.iconFilled {
  fill: var(--accent-color);
}

.valuation {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: var(--empty-color);
}

.leftvalue {
  margin-right: 4px;
}

.rightvalue {
  margin-left: 4px;
}

.text {
  font-size: 14px;
  color: var(--text-color);
}
.infowrapper {
  display: flex;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--text-color);

  @include mixins.mq(mobile) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.iconBefore {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.wrapper {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 45px;

  &:hover::before,
  &:focus::before {
    width: 100%;
  }
  @include mixins.mq(tablet) {
    margin-left: 140px;
    flex-direction: row;
  }
  @include mixins.mq(desktop) {
    display: none;
  }
}
